import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';


export default defineConfig({
  plugins: [react()],
  base: '/MusicRap_App/', // Thay bằng đúng tên repo của bạn trên GitHub
});
